// control样式控制
$btnBgColor = #282c34
$btnFontColor = white
// 代码块基本样式
$codeBorder = #ccc
$codeBgColor = #282c34
$codeColor = white
// 页面样式
$pageColor = lighten(black, 5%)
$fontColor = #333
$pageBgColor = #f5f5d5
// $fontColor = #eee
// $pageBgColor = #282c34
$pageWidth = 900px
$pageHeight = 95%
$pageMarginLeft = 200px
$pageFontWeight = bold
$bColor = lighten(blue, 30%)
// code样式
$pageCodeColor = #e06c75
$textColor = #a6e22e
$commentColor = #5c6370
$punctuationColor = #fff
$numberColor = #c678dd
$stringColor = #e5c07b
$symbolColor = #e06c75
$operatorColor = #e06c75
$atruleColor = #e6db74
$keywordColor = #66d9ef
$regexColor = #fd971f
// 文字大小
$homeH1FontSize = 3rem
$secondH2FontSize = 3rem
$thirdFontSize = 1.5rem
$thirdPaddingBottom = 20px
$thirdMarginLeft = 1rem